{% extends "base.html" %}


{% block title %}Profile{% endblock %}


{% block style %}

    div.container > div.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img.profile-picture {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    h2 {
        font-style: italic;
    }

{% endblock %}


{% block content %}
    <div class="container">
        <div class="content">
            <h2>Profile Info</h2>
            <img class="rounded-circle profile-picture" src="{{ user.profile.profile_picture.url }}">
            <p>Username: {{ user.username }}</p>
            <p>First Name: {{ user.first_name }}</p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>Birth Date: {{ user.profile.birth_date }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
    </div>
{% endblock %}